<div class="services-color-container">
  <%# Services Intro section: %>
  <div class="services-container" id="services-intro">
    <div class="left-side" id=services-intro-js-change>
      <h1>Our services</h1>
      <h3>We take care of every aspect of developing your product, enabling you to focus on the growth, impact, and scaling of your organization.</h3>
    </div>
    <div class="right-side" id="services-intro-js">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Intro_bc9cfy.png" %>
    </div>
  </div>


  <%# Services UX-UI section: %>
  <div class="services-container" id="services-ux-ui">
    <div class="left-side">
      <h1 id="services-title">User Analysis & UX/UI Design</h1>
      <p class="services-description">Test your assumptions and gather data. We will first conduct an UX audit of any existing product and map out the existing information architecture. Then we’ll begin primary research to gain a deeper understanding of your customers, their motivations, and their pain points. Qualitative and quantitative analysis, performed through interviews, virtual workshops, and analytics review, will help us understand user behavior.</p>
      <p class="services-description">From this, we establish a set of personas and user journeys for your different audiences which will inform our designs. Great UX/UI will be designed to align the user’s goals with yours, increase conversion, and help foster an emotional connection with your product and brand.</p>
    </div>
    <div class="right-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Part1_jbinpq.png" %>
    </div>
  </div>

  <%# Services UX-UI swiper %>
  <div class="services-container swiper-container swiper-services-ux-ui" id="services-ux-ui-swiper">
    <div class="swiper-wrapper" id="services-ux-ui-wrapper">
      <div class="left-side swiper-slide">
        <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Part1_jbinpq.png" %>
        <h1 id="swiper-services-title">User Analysis & UX/UI Design</h1>
      </div>
      <div class="right-side swiper-slide">
        <p class="swiper-services-description first-services-description">Test your assumptions and gather data. We will first conduct an UX audit of any existing product and map out the existing information architecture. Then we’ll begin primary research to gain a deeper understanding of your customers, their motivations, and their pain points. Qualitative and quantitative analysis, performed through interviews, virtual workshops, and analytics review, will help us understand user behavior.</p>
        <p class="swiper-services-description">From this, we establish a set of personas and user journeys for your different audiences which will inform our designs. Great UX/UI will be designed to align the user’s goals with yours, increase conversion, and help foster an emotional connection with your product and brand.</p>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-services-ux-ui"></div>
  </div>
  <%# ------------------------------------ %>
</div>

<%# Services Website Development section: %>
<div class="website-dev-container">
  <div class="services-container" id="services-website-dev">
    <div class="left-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Part2_nf5auf.png" %>
    </div>
    <div class="right-side">
      <h1 id="services-title">Website Development & Design</h1>
      <p class="services-description">How you tell your story matters. Whether you are a brand looking to increase sales, or a nonprofit trying to grow your impact, you need a strong online presence that boosts engagement, conversions, and revenue. Our web design and development team is here to promote your business and spread your message to broader audiences.</p>
      <p class="services-description">From an E-Commerce to a Nonprofit Organization website, we will first understand your goals to align it with the right design that will engage with your users and brand. From this, we establish the right development roadmap to deliver your final product on time. Our main focus is to keep you updated during the whole process with key development presentations until final delivery.</p>
    </div>
  </div>

  <%# Services Website-dev swiper %>
  <div class="services-container swiper-container swiper-services-website" id="services-website-dev-swiper">
    <div class="swiper-wrapper" id="services-website-dev-wrapper">
      <div class="left-side swiper-slide">
        <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Part2_nf5auf.png" %>
        <h1 id="swiper-services-title">Website Development & Design</h1>
      </div>
      <div class="right-side swiper-slide">
        <p class="swiper-services-description first-services-description">How you tell your story matters. Whether you are a brand looking to increase sales, or a nonprofit trying to grow your impact, you need a strong online presence that boosts engagement, conversions, and revenue. Our web design and development team is here to promote your business and spread your message to broader audiences.</p>
        <p class="swiper-services-description">From an E-Commerce to a Nonprofit Organization website, we will first understand your goals to align it with the right design that will engage with your users and brand. From this, we establish the right development roadmap to deliver your final product on time. Our main focus is to keep you updated during the whole process with key development presentations until final delivery.</p>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-services-website-dev"></div>
  </div>
  <%# ------------------------------------ %>
</div>


<%# Services Development and testing section: %>
<div class="dev-test-container">
  <div class="services-container" id="services-dev-test">
    <div class="left-side">
      <h1 id="services-title">App Development & Testing</h1>
      <p class="services-description">Technology is at the core of our app development services. We have experience in a variety of web & mobile languages and frameworks. We are not in the business of building prototypes; we aim to lay the technical foundation of your company. We take great care to match our technical approach to your vision and develop scalable and maintainable codebases. We are obsessed with code quality and prefer to engineer a robust testing suite for every web and mobile application we build. Testing and quality assurance are an integral part of our process.</p>
    </div>
    <div class="right-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954431/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Part3_awjnwv.png" %>
    </div>
  </div>

  <%# Services Dev-test swiper %>
  <div class="services-container swiper-container swiper-dev-test" id="services-dev-test-swiper">
    <div class="swiper-wrapper" id="services-dev-test-wrapper">
      <div class="left-side swiper-slide">
        <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954431/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Part3_awjnwv.png" %>
        <h1 id="swiper-services-title">App Development & Testing</h1>
      </div>
      <div class="right-side swiper-slide">
        <p class="swiper-services-description first-services-description">Technology is at the core of our app development services. We have experience in a variety of web & mobile languages and frameworks. We are not in the business of building prototypes; we aim to lay the technical foundation of your company. We take great care to match our technical approach to your vision and develop scalable and maintainable codebases. We are obsessed with code quality and prefer to engineer a robust testing suite for every web and mobile application we build. Testing and quality assurance are an integral part of our process.</p>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-services-dev-test"></div>
  </div>
  <%# ------------------------------------ %>
</div>


<%# Services Tools section: %>
<div class="services-tools-container">
  <h1 id="services-tools-title">The Tools We Use</h1>
  <div class="swiper-container swiper-services-tools" id="services-tools">
    <div class="swiper-wrapper" id="services-tools-wrapper">
      <div class="swiper-slide">
        <div class="tool">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/Heroku_bx3jwc.png" %>
          <h3 id="tool-title">Heroku</h3>
          <p id="tool-description">Heroku is a cloud platform as a service supporting several programming languages. Thanks to Heroku we can deliver software smoothly and continuously to test quality and to keep bringing the latest improvements to clients and users effortlessly.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="tool">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/GSuite_ehg00h.png" %>
          <h3 id="tool-title">Google Drive</h3>
          <p id="tool-description">Google Drive is the go-to suite for those looking to work online and store files securely in the cloud. We use Google Drive to share documentation and collaborate with multiple team members on the same document in real-time.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="tool">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954431/MangoLab.io%20-%20Website/Services_Page/Trello_m7mb23.png" %>
          <h3 id="tool-title">Trello</h3>
          <p id="tool-description">Trello is a collaboration tool that organizes projects into boards. We use Trello to stay organized and keep progress clear but also to gather everything you will need to know about the project in a single place.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="tool">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954431/MangoLab.io%20-%20Website/Services_Page/Slack_fjv8em.png" %>
          <h3 id="tool-title">Slack</h3>
          <p id="tool-description">Slack is a channel-based messaging platform. With Slack, we can work together more effectively, connect all software tools and services needed, and find the information we need to do the best work possible.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="tool">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954431/MangoLab.io%20-%20Website/Services_Page/Github_ubufmy.png" %>
          <h3 id="tool-title">GitHub</h3>
          <p id="tool-description">GitHub is the platform where developers store, share and deploy code. Our teams use it to collaborate and share their work in real-time, no matter the technology being used.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="tool">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/Miro_b5nczd.png" %>
          <h3 id="tool-title">Miro</h3>
          <p id="tool-description">Miro is a collaborative diagram design tool. Miro is the perfect tool to translate ideas into concepts and explain them to the whole team quickly and reliably. Thanks to collaborative features, everyone enters the discussion.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="tool">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954431/MangoLab.io%20-%20Website/Services_Page/Figma_uy2ud9.png" %>
          <h3 id="tool-title">Figma</h3>
          <p id="tool-description">Figma is an interface design application. Figma’s collaborative features allow our design teams to work together in real-time on the same file to bring wireframes and prototypes to life.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="tool">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/Marvel_d0pzfz.png" %>
          <h3 id="tool-title">Marvel</h3>
          <p id="tool-description">Marvel App is a collaborative design platform that allows you to quickly generate prototypes from your artboards. Marvel is used beyond our other design tools to build high fidelity clickable prototypes to share confidently with all stakeholders.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="tool">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/Jira_zuvmn0.png" %>
          <h3 id="tool-title">Jira</h3>
          <p id="tool-description">Jira is an issue tracking product. It provides bug tracking, issue tracking, and project management functions. We use it to organize and manage our design and implementation tasks to keep progressing efficiently toward each release.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="tool">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/Hotjar_u8sgs6.png" %>
          <h3 id="tool-title">Hotjar</h3>
          <p id="tool-description">Hotjar is a behavior analytics platform that analyses website use, providing feedback through tools such as heatmaps, session recordings, and surveys.</p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-services-tools" id="swiper-pagination-tools"></div>
  </div>
</div>
<%# ----------------------------------- %>


<%# Services lets talk section: %>
<div class="services-lets-talk-container">
  <div class="services-container" id="services-lets-talk">
    <div class="lets-talk-icon"> 
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954431/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Alarm_vdotnd.png" %>
    </div>
    <div class="lets-talk-body">
      <h1>Let’s talk about your next big idea</h1>
      <p>We have experience in e-commerce website, custom mobile app and software development that we’re excited to put to work for you.</p>
      <%= link_to "https://calendly.com/mangolab/freeconsultation", class: "lets-go-btn-js-change lets-go-btn-change", target: :_blank do %>
        <span>
          LET'S GO 
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right" %>
        </span>
      <% end %>
    </div>
  </div>
</div>