<div class="services-color-container">
  <div class="services-container" id="services-intro">
    <div class="left-side" id=services-intro-js-change>
      <h1>Our services</h1>
      <h3>We take care of every aspect of developing your product, enabling you to focus on the growth, impact, and scaling of your organization.</h3>
    </div>
    <div class="right-side" id="services-intro-js">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Intro_bc9cfy.png" %>
    </div>
  </div>


  <%# Services UX-UI section: %>
  <div class="services-container" id="services-ux-ui">
    <div class="left-side">
      <h1 id="services-title">User Analysis & UX/UI Design</h1>
      <p class="services-description">Test your assumptions and gather data. We will first conduct an UX audit of any existing product and map out the existing information architecture. Then we’ll begin primary research to gain a deeper understanding of your customers, their motivations, and their pain points. Qualitative and quantitative analysis, performed through interviews, virtual workshops, and analytics review, will help us understand user behavior.</p>
      <p class="services-description">From this, we establish a set of personas and user journeys for your different audiences which will inform our designs. Great UX/UI will be designed to align the user’s goals with yours, increase conversion, and help foster an emotional connection with your product and brand.</p>
    </div>
    <div class="right-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Part1_jbinpq.png" %>
    </div>
  </div>

  <%# Services UX-UI swiper %>
  <div class="services-container swiper-container swiper-services-ux-ui" id="services-ux-ui-swiper">
    <div class="swiper-wrapper" id="services-ux-ui-wrapper">
      <div class="left-side swiper-slide">
        <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Part1_jbinpq.png" %>
        <h1>User Analysis & UX/UI Design</h1>
      </div>
      <div class="right-side swiper-slide">
        <p id="ux-ui-description">Test your assumptions and gather data. We will first conduct an UX audit of any existing product and map out the existing information architecture. Then we’ll begin primary research to gain a deeper understanding of your customers, their motivations, and their pain points. Qualitative and quantitative analysis, performed through interviews, virtual workshops, and analytics review, will help us understand user behavior.</p>
        <p>From this, we establish a set of personas and user journeys for your different audiences which will inform our designs. Great UX/UI will be designed to align the user’s goals with yours, increase conversion, and help foster an emotional connection with your product and brand.</p>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-services-ux-ui"></div>
  </div>
  <%# ------------------------------------ %>
</div>

<%# Services Website Development section: %>
<div class="website-dev-container">
  <div class="services-container" id="services-website-dev">
    <div class="left-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Part2_nf5auf.png" %>
    </div>
    <div class="right-side">
      <h1 id="services-title">Website Development & Design</h1>
      <p class="services-description">How you tell your story matters. Whether you are a brand looking to increase sales, or a nonprofit trying to grow your impact, you need a strong online presence that boosts engagement, conversions, and revenue. Our web design and development team is here to promote your business and spread your message to broader audiences.</p>
      <p class="services-description">From an E-Commerce to a Nonprofit Organization website, we will first understand your goals to align it with the right design that will engage with your users and brand. From this, we establish the right development roadmap to deliver your final product on time. Our main focus is to keep you updated during the whole process with key development presentations until final delivery.</p>
    </div>
  </div>

  <%# Services Website-dev swiper %>
  <div class="services-container swiper-container swiper-services-website" id="services-website-dev-swiper">
    <div class="swiper-wrapper" id="services-website-dev-wrapper">
      <div class="left-side swiper-slide">
        <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601954432/MangoLab.io%20-%20Website/Services_Page/ServicesPage_Part2_nf5auf.png" %>
        <h1>Website Development & Design</h1>
      </div>
      <div class="right-side swiper-slide">
        <p>How you tell your story matters. Whether you are a brand looking to increase sales, or a nonprofit trying to grow your impact, you need a strong online presence that boosts engagement, conversions, and revenue. Our web design and development team is here to promote your business and spread your message to broader audiences.</p>
        <p>From an E-Commerce to a Nonprofit Organization website, we will first understand your goals to align it with the right design that will engage with your users and brand. From this, we establish the right development roadmap to deliver your final product on time. Our main focus is to keep you updated during the whole process with key development presentations until final delivery.</p>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-services-website-dev"></div>
  </div>
  <%# ------------------------------------ %>
</div>