<% content_for :webinars do %>
  <title>Join our free webinars | MangoLab.io</title>
  <meta name="description" property="description" content="Join our free webinars to learn more about Website Development, Mobile applications, Product design, SEO and more.">
  <meta name="keywords" content="website development, mobile application, product design, seo, analytics, api development, webinars">
  <meta name="og:title" property="og:title" content="Join our free webinars | MangoLab.io">
  <meta name="og:description" property="og:description" content="Join our free webinars to learn more about Website Development, Mobile applications, Product design, SEO and more.">
  <meta property="og:image" content="https://res.cloudinary.com/mangolab-io/image/upload/v1605213025/MangoLab.io%20-%20Website/Webinars_Page/PNG/WebinarPage_i7cjqo.png" />
  <meta name="og:url" property="og:url" content="https://www.mangolab.io/webinars">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <link rel="canonical" href="https://www.mangolab.io/webinars">
<% end %>

<div class="webinars-main-container">
  <div class="webinars-container">
    <div class="webinars-head">
      <h1>Our Webinars</h1>
      <h2>From Web Development to SEO and Product Design, our free webinars are here to help and inspire you on boosting and optimizing your business. Book now and discover expert tips and knowledge as a base to reach new heights for your startup or company.</h2>
    </div>

    <%# Desktop view %>
    <div class="webinars-body" id="webinars-desktop">

      <%= link_to "#", class: "webinar" do %>
        <div class="webinar-img">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1605195213/MangoLab.io%20-%20Website/Webinars_Page/PNG/website_in_2020_ks2ag0.png", alt: "hands pointing on laptop" %>
        </div>
        <div class="webinar-body">
          <div class="webinar-head">
            <h3 class="webinar-category">BUSINESS</h3>
            <div class="webinar-mangobar"></div>
          </div>
          <h1 class="webinar-title">Is It Necessary To Have A Website In 2020?</h1>
          <div class="webinar-details">
            <p>10th December 2020</p>
            <p>12:00 PM</p>
            <p>FREE | In English</p>
          </div>
        </div>
      <% end %>

      <%= link_to "#", class: "webinar webinar-center" do %>
        <div class="webinar-img">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1605195213/MangoLab.io%20-%20Website/Webinars_Page/PNG/boost_seo_suga0j.png", alt: "glasses with tech wardware as background" %>
        </div>
        <div class="webinar-body">
          <div class="webinar-head">
            <h3 class="webinar-category">OPTIMIZATION</h3>
            <div class="webinar-mangobar"></div>
          </div>
          <h1 class="webinar-title">Learn How A Website Audit Will Boost Your SEO</h1>
          <div class="webinar-details">
            <p>14th January 2021</p>
            <p>12:00 PM</p>
            <p>FREE | In English</p>
          </div>
        </div>     
      <% end %>

      <%= link_to "#", class: "webinar" do %>
        <div class="webinar-img">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1605195213/MangoLab.io%20-%20Website/Webinars_Page/PNG/behavioural_design_ptgzhh.png", alt: "group brainstorming on table" %>
        </div>
        <div class="webinar-body">
          <div class="webinar-head">
            <h3 class="webinar-category">USER EXPERIENCE</h3>
            <div class="webinar-mangobar"></div>
          </div>
          <h1 class="webinar-title">Improve Your Website UX With Behavioural Design</h1>
          <div class="webinar-details">
            <p>28th January 2021</p>
            <p>12:00 PM</p>
            <p>FREE | In English</p>
          </div>
        </div>
      <% end %>

    </div>
    
    <%# Tablet - Mobile view %>
    <div class="webinars-body swiper-container swiper-webinars" id="webinars-swiper">

      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <%= link_to "#", class: "webinar" do %>
            <div class="webinar-img">
              <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1605195213/MangoLab.io%20-%20Website/Webinars_Page/PNG/website_in_2020_ks2ag0.png", alt: "hands pointing on laptop" %>
            </div>
            <div class="webinar-body">
              <div class="webinar-head">
                <h3 class="webinar-category">BUSINESS</h3>
                <div class="webinar-mangobar"></div>
              </div>
              <h1 class="webinar-title">Is It Necessary To Have A Website In 2020?</h1>
              <div class="webinar-details">
                <p>26th November 2020</p>
                <p>12:00 PM</p>
                <p>FREE | In English</p>
              </div>
            </div>
          <% end %>
        </div>

        <div class="swiper-slide">
          <%= link_to "#", class: "webinar" do %>
            <div class="webinar-img">
              <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1605195213/MangoLab.io%20-%20Website/Webinars_Page/PNG/boost_seo_suga0j.png", alt: "glasses with tech wardware as background" %>
            </div>
            <div class="webinar-body">
              <div class="webinar-head">
                <h3 class="webinar-category">OPTIMIZATION</h3>
                <div class="webinar-mangobar"></div>
              </div>
              <h1 class="webinar-title">Learn How A Website Audit Will Boost Your SEO</h1>
              <div class="webinar-details">
                <p>3th december 2020</p>
                <p>12:00 PM</p>
                <p>FREE | In English</p>
              </div>
            </div>     
          <% end %>
        </div>

        <div class="swiper-slide">
          <%= link_to "#", class: "webinar" do %>
            <div class="webinar-img">
              <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1605195213/MangoLab.io%20-%20Website/Webinars_Page/PNG/behavioural_design_ptgzhh.png", alt: "group brainstorming on table" %>
            </div>
            <div class="webinar-body">
              <div class="webinar-head">
                <h3 class="webinar-category">USER EXPERIENCE</h3>
                <div class="webinar-mangobar"></div>
              </div>
              <h1 class="webinar-title">Improve Your Website UX With Behavioural Design</h1>
              <div class="webinar-details">
                <p>8th December 2020</p>
                <p>12:00 PM</p>
                <p>FREE | In English</p>
              </div>
            </div>
          <% end %>
        </div>

      </div>

      <div class="swiper-pagination swiper-pagination-webinars"></div>

    </div>

  </div>
</div>