<div class="webinars-main-container">
  <div class="webinars-container">
    <div class="webinars-head">
      <h1>Our Webinars</h1>
      <h2>From Web Development to SEO and Product Design, our free webinars are here to help and inspire you on boosting and optimizing your business. Book now and discover expert tips and knowledge as a base to reach new heights for your startup or company.</h2>
    </div>

    <%# Desktop view %>
    <div class="webinars-body" id="webinars-desktop">

      <%= link_to "#", class: "webinar" do %>
        <div class="webinar-img">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1605195213/MangoLab.io%20-%20Website/Webinars_Page/PNG/website_in_2020_ks2ag0.png", alt: "hands pointing on laptop" %>
        </div>
        <div class="webinar-body">
          <div class="webinar-head">
            <h3 class="webinar-category">BUSINESS</h3>
            <div class="webinar-mangobar"></div>
          </div>
          <h1 class="webinar-title">Is It Necessary To Have A Website In 2020?</h1>
          <div class="webinar-details">
            <p>26th November 2020</p>
            <p>12:00 PM</p>
            <p>FREE | In English</p>
          </div>
        </div>
      <% end %>

      <%= link_to "#", class: "webinar webinar-center" do %>
        <div class="webinar-img">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1605195213/MangoLab.io%20-%20Website/Webinars_Page/PNG/boost_seo_suga0j.png", alt: "glasses with tech wardware as background" %>
        </div>
        <div class="webinar-body">
          <div class="webinar-head">
            <h3 class="webinar-category">OPTIMIZATION</h3>
            <div class="webinar-mangobar"></div>
          </div>
          <h1 class="webinar-title">Learn How A Website Audit Will Boost Your SEO</h1>
          <div class="webinar-details">
            <p>3th december 2020</p>
            <p>12:00 PM</p>
            <p>FREE | In English</p>
          </div>
        </div>     
      <% end %>

      <%= link_to "#", class: "webinar" do %>
        <div class="webinar-img">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1605195213/MangoLab.io%20-%20Website/Webinars_Page/PNG/behavioural_design_ptgzhh.png", alt: "group brainstorming on table" %>
        </div>
        <div class="webinar-body">
          <div class="webinar-head">
            <h3 class="webinar-category">USER EXPERIENCE</h3>
            <div class="webinar-mangobar"></div>
          </div>
          <h1 class="webinar-title">Improve Your Website UX With Behavioural Design</h1>
          <div class="webinar-details">
            <p>8th December 2020</p>
            <p>12:00 PM</p>
            <p>FREE | In English</p>
          </div>
        </div>
      <% end %>

    </div>
    
    <%# Tablet - Mobile view %>
    <div class="webinars-body swiper-container swiper-webinars" id="webinars-swiper">

      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <%= link_to "#", class: "webinar" do %>
            <div class="webinar-img">
              <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1605195213/MangoLab.io%20-%20Website/Webinars_Page/PNG/website_in_2020_ks2ag0.png", alt: "hands pointing on laptop" %>
            </div>
            <div class="webinar-body">
              <div class="webinar-head">
                <h3 class="webinar-category">BUSINESS</h3>
                <div class="webinar-mangobar"></div>
              </div>
              <h1 class="webinar-title">Is It Necessary To Have A Website In 2020?</h1>
              <div class="webinar-details">
                <p>26th November 2020</p>
                <p>12:00 PM</p>
                <p>FREE | In English</p>
              </div>
            </div>
          <% end %>
        </div>

        <div class="swiper-slide">
          <%= link_to "#", class: "webinar" do %>
            <div class="webinar-img">
              <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1605195213/MangoLab.io%20-%20Website/Webinars_Page/PNG/boost_seo_suga0j.png", alt: "glasses with tech wardware as background" %>
            </div>
            <div class="webinar-body">
              <div class="webinar-head">
                <h3 class="webinar-category">OPTIMIZATION</h3>
                <div class="webinar-mangobar"></div>
              </div>
              <h1 class="webinar-title">Learn How A Website Audit Will Boost Your SEO</h1>
              <div class="webinar-details">
                <p>3th december 2020</p>
                <p>12:00 PM</p>
                <p>FREE | In English</p>
              </div>
            </div>     
          <% end %>
        </div>

        <div class="swiper-slide">
          <%= link_to "#", class: "webinar" do %>
            <div class="webinar-img">
              <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1605195213/MangoLab.io%20-%20Website/Webinars_Page/PNG/behavioural_design_ptgzhh.png", alt: "group brainstorming on table" %>
            </div>
            <div class="webinar-body">
              <div class="webinar-head">
                <h3 class="webinar-category">USER EXPERIENCE</h3>
                <div class="webinar-mangobar"></div>
              </div>
              <h1 class="webinar-title">Improve Your Website UX With Behavioural Design</h1>
              <div class="webinar-details">
                <p>8th December 2020</p>
                <p>12:00 PM</p>
                <p>FREE | In English</p>
              </div>
            </div>
          <% end %>
        </div>

      </div>

      <div class="swiper-pagination swiper-pagination-webinars"></div>

    </div>

  </div>
</div>