<div class="main-container">
  <div class="navbar navbar-expand-sm navbar-light navbar-mangolab">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602006495/MangoLab.io%20-%20Website/Navbar/NavBar_Logo_rkvimm.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "SERVICES", "#", class: "nav-link btn-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "PROCESS", "#", class: "nav-link btn-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "VERTICALS", "#", class: "nav-link btn-white" %>
        </li>
        <li class="nav-item" id="black-background">
          <%= link_to "FREE CONSULTATION", "#", class: "nav-link btn-black" %>
        </li>
      </ul>
    </div>
  </div>
</div>

