
<div class="menu-bar">
  <div class="menu-container">
    <div class="menu-left">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602006495/MangoLab.io%20-%20Website/Navbar/NavBar_Logo_rkvimm.png" %>
      <% end %>
      <ul class="nav-list">
        <li>
          <%= link_to "SERVICES", "#", class: "btn-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "PROCESS", "#", class: "btn-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "VERTICALS", "#", class: "btn-white" %>
        </li>
        <li class="nav-item" id="black-background">
          <%= link_to "FREE CONSULTATION", "#", class: "btn-black" %>
        </li>
      </ul>
    </div>
    <div class="menu-right menu-icons">
      <svg class="menu-btn" width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="24" height="3" rx="1.5" fill="#454545"/>
          <rect y="7" width="24" height="3" rx="1.5" fill="#454545"/>
          <rect y="14" width="24" height="3" rx="1.5" fill="#454545"/>
      </svg>
      <svg class="close-btn" width="24" height="17" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 2L2 20" stroke="#454545" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 2L20 20" stroke="#454545" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
</div>

