<div class="color-container">
  <div class="home-container" id="intro">
    <div class="left-side" id="intro-js-change">
      <h3>We are MangoLab.io</h3>
      <h1>Software development focused on your success<br>(Coming soon)</h1>
      <%= link_to "https://calendly.com/mangolab/freeconsultation", class: "lets-talk-btn-js-change lets-talk-btn", target: :_blank do %>
        <span>
          LET'S TALK 
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right" %>
        </span>
      <% end %>
    </div>
    <div class="right-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601953609/MangoLab.io%20-%20Website/Home_Page/HomePage_Intro_a4p99k.png" %>
    </div>
  </div>

  <div class="home-container" id="about-us">
    <div class="left-side single-item" data-glide-el="track" id="about-us-js-change">
      <div class="ceo">
        <div class="details">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602778732/MangoLab.io%20-%20Website/Home_Page/Marcos_Bitmoji_wvp51e.png" %>
          <h3 class="name">Marcos Gutierrez</h3>
          <h3 class="role">CEO</h3>
        </div>
        <div class="about-details">
          <p>Hi!👋 For the past 9 years, I’ve been helping entrepreneurs, startups and companies build and shape products & services that can have a human impact and change positively user’s behaviour.</p>
          <p>Thanks to an in-depth knowledge in psychology, specially through digital behaviour, I’ve built the right recipes that aim to drastically change the way we live.</p>
          <p>My mission now is to share and help entrepreneurs scale their businesses through a personalized process on their journey to success.</p>
        </div>
      </div>
      <div class="cto">
        <div class="details">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602778732/MangoLab.io%20-%20Website/Home_Page/Alex_Bitmoji_o8wb50.png" %>
          <h3 class="name">Alexander Encinas</h3>
          <h3 class="role">CTO</h3>
        </div>
        <div class="about-details">
          <p>✌️Hey! I’ve been managing and developing projects and products for the past decade. The ability to combine multidisciplinary skills through project engineering and software development helped me to deeply understand two things for a business to be successful:</p>
          <p>1. The People (Employees & Customers)<br>2. The Product (Process & Quality)</p> 
          <p>I am ready now to craft, build and revamp products that will deliver meaningful experiences at scale.</p>
        </div>
      </div>
    </div>
    <div class="right-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601953830/MangoLab.io%20-%20Website/Home_Page/HomePage_Bio_hkybcv.png" %>
    </div>
  </div>

  <div class="home-container" id="services">
    <div class="left-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602864368/MangoLab.io%20-%20Website/Home_Page/HomePage_Services_ewoaxc.png" %>
    </div>
    <div class="right-side">
      <h3 id="home-step">SERVICES</h3>
      <h1 id="home-title">Strategy, Design & Development</h1>
      <p id="home-description">
        MangoLab turns your business idea into a launched product by guiding your journey through a personalized and custom software development to meet your goals.
        We strategize, design and build platforms and digital experiences that connect to the heart of your organization to scale onto the next level.
        Whether you require an E-Commerce, SaaS platform or a Web/Native Application to engage with your audience — we’ve got you covered.
      </p>
      <%= link_to "#", class: "what-we-do-btn-js-change what-we-do-btn" do %>
        <span>
          WHAT WE DO 
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right" %>
        </span>
      <% end %>
    </div>
  </div>

</div>

<div class="process-container">
  <div class="home-container" id="process">
    <div class="left-side">
      <h3 id="home-step">PROCESS</h3>
      <h1 id="home-title">Set, Ready & Launch</h1>
      <p id="home-description">
        As any new project in life, planning is key. That’s why we’ve tailored our process to reduce risk during each step of the development and
        minimize the time wasted to focus primarly on accelerating the launch of your product. We get to know your vision, help craft your product,
        and bring it to market fast, keeping you appraised of every step along the way. Teamwork is everything.
      </p>
      <%= link_to "#", class: "view-our-process-btn-js-change view-our-process-btn" do %>
        <span>
          VIEW OUR PROCESS 
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right" %>
        </span>
      <% end %>
    </div>
    <div class="right-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602864499/MangoLab.io%20-%20Website/Home_Page/HomePage_Process_umqkjv.png" %>
    </div>
  </div>
</div>

<div class="verticals-container">
  <div class="home-container" id="verticals">
    <div class="left-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602864579/MangoLab.io%20-%20Website/Home_Page/HomePage_Verticals_xm5kuv.png" %>
    </div>
    <div class="right-side" id="verticals-js-change">
      <h3 id="home-step">VERTICALS</h3>
      <h1 id="home-title">Our expertise</h1>
      <p id="home-description">
        A deep understanding of your industry is required to create successful products. What sets us apart is our ability to learn and understand the
        ecosystem in which you operate. Our team has developed products, services and organizations in a variety of industries, from healthcare and sports to nonprofit.
         Whether you are launching a networking app, a patient portal, or a SaaS platform, we will bring your product to market, fast.
      </p>
      <%= link_to "#", class: "learn-more-btn-js-change learn-more-btn" do %>
        <span>
          LEARN MORE 
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right" %>
        </span>
      <% end %>
    </div>
  </div>  
</div>

<div class="mvp-container">
  <div id="next-mvp">
    <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1601953845/MangoLab.io%20-%20Website/Home_Page/HomePage_Alarm_iplxhc.png", class: "mvp-icon" %>
    <div class="counter">
      <h1>Next MVP will be launched in:</h1>
      <h1 id="timer">
        <div id="d"></div> : <div id="h"></div> : <div id="m"></div> : <div id="s"></div>
      </h1>
      <%# 00 : 00 : 00 : 00  %>
      <div class="timer-text">
        <h3 id="day">Days</h3>
        <h3 id="hour">Hours</h3>
        <h3 id="minute">Minutes</h3>
        <h3 id="second">Seconds</h3>
      </div>
      <h3 class="counter-text">Want to talk about your project?</h3>
    </div>
    <%= link_to "https://calendly.com/mangolab/freeconsultation", class: "lets-go-btn-js-change lets-go-btn-change", target: :_blank do %>
      <span>
        LET'S GO 
        <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right" %>
      </span>
    <% end %>
  </div>
</div>

<%
=begin %>

<div class="main-container">
  <div id="goals">
  </div>
</div>

<%
=end %>


