<% content_for :home do %>
  <title>MangoLab.io | Software Development</title>
  <meta name="description" property="description" content="We build digital products for entrepreneurs and startups who want to revolutionize their industries.">
  <meta name="keywords" content="software development,free consultation,launch e-commerce,startups,ux/ui design,mvp development">
  <meta property="og:title" content="MangoLab.io | Software Development">
  <meta property="og:description" content="We build digital products for entrepreneurs and startups who want to revolutionize their industries.">
  <meta property="og:image" content="https://res.cloudinary.com/mangolab-io/image/upload/v1602028500/MangoLab.io%20-%20Website/Home_Page/PNG/Social_Banner_xjlz2n.png" />
  <meta name="og:url" property="og:url" content="https://www.mangolab.io">
<% end %>


<div class="color-container">
  <div class="home-container" id="intro">
    <div class="left-side" id="intro-js-change">
      <h3>We are MangoLab.io</h3>
      <h1>Software development focused on your success</h1>
      <%= link_to "https://calendly.com/mangolab/freeconsultation", class: "lets-talk-btn-js-change lets-talk-btn", target: :_blank, rel: "noreferrer" do %>
        <span>
          LET'S TALK 
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg" }, alt: "mango chevron" %>
        </span>
      <% end %>
    </div>
    <div class="right-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/HomePage_Intro_slkigt.webp", class: "lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/HomePage_Intro_slkigt.webp" }, alt: "Home Page Intro" %>
    </div>
  </div>

  <div class="home-container" id="about-us">
    <div class="left-side " id="about-us-js-change">
      <div class="ceo">
        <div class="details">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/Marcos_Bitmoji_a66awd.webp", class: "lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/Marcos_Bitmoji_a66awd.webp" }, alt: "CTO bitmoji image" %>
          <h2 class="name">Marcos Gutierrez</h2>
          <h3 class="role">CEO</h3>
        </div>
        <div class="about-details">
          <p>Hi!👋 For the past 9 years, I’ve been helping entrepreneurs, startups and companies build and shape products & services that can have a human impact and change positively user’s behaviour.</p>
          <p>Thanks to an in-depth knowledge in psychology, specially through digital behaviour, I’ve built the right recipes that aim to drastically change the way we live.</p>
          <p>My mission now is to share and help entrepreneurs scale their businesses through a personalized process on their journey to success.</p>
        </div>
      </div>
      <div class="cto">
        <div class="details">
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/Alex_Bitmoji_jldlxq.webp", class: "lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/Alex_Bitmoji_jldlxq.webp" }, alt: "CTO bitmoji image" %>
          <h2 class="name">Alexander Encinas</h2>
          <h3 class="role">CTO</h3>
        </div>
        <div class="about-details">
          <p>✌️Hey! I’ve been managing and developing projects and products for the past decade. The ability to combine multidisciplinary skills through project engineering and software development helped me to deeply understand two things for a business to be successful:</p>
          <p>1. The People (Employees & Customers)<br>2. The Product (Process & Quality)</p> 
          <p>I am ready now to craft, build and revamp products that will deliver meaningful experiences at scale.</p>
        </div>
      </div>
    </div>
    <%# About us swiper %>
    <div class="left-side swiper-container swiper-about" id="swiper-about">
      <div class="swiper-wrapper">
        <div class="ceo swiper-slide">
          <div class="details">
            <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/Marcos_Bitmoji_a66awd.webp", class: "lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/Marcos_Bitmoji_a66awd.webp" }, alt: "CEO bitmoji image" %>
            <h2 class="name">Marcos Gutierrez</h2>
            <h3 class="role">CEO</h3>
          </div>
          <div class="about-details">
            <p>Hi!👋 For the past 9 years, I’ve been helping entrepreneurs, startups and companies build and shape products & services that can have a human impact and change positively user’s behaviour.</p>
            <p>Thanks to an in-depth knowledge in psychology, specially through digital behaviour, I’ve built the right recipes that aim to drastically change the way we live.</p>
            <p>My mission now is to share and help entrepreneurs scale their businesses through a personalized process on their journey to success.</p>
          </div>
        </div>
        <div class="cto swiper-slide">
          <div class="details">
            <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/Alex_Bitmoji_jldlxq.webp", class: "lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/Alex_Bitmoji_jldlxq.webp" }, alt: "CTO bitmoji image" %>
            <h2 class="name">Alexander Encinas</h2>
            <h3 class="role">CTO</h3>
          </div>
          <div class="about-details">
            <p>✌️Hey! I’ve been managing and developing projects and products for the past decade. The ability to combine multidisciplinary skills through project engineering and software development helped me to deeply understand two things for a business to be successful:</p>
            <p>1. The People (Employees & Customers)<br>2. The Product (Process & Quality)</p> 
            <p>I am ready now to craft, build and revamp products that will deliver meaningful experiences at scale.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-about"></div>
  <%# -------------- %>
    <div class="right-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/HomePage_Bio_ns0v7y.webp", class: "lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/HomePage_Bio_ns0v7y.webp" }, alt: "CEO and CTO bitmoji image" %>
    </div>
  </div>
  
  <div class="home-container" id="services">
    <div class="left-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/HomePage_Services_dpcang.webp", class: "lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/HomePage_Services_dpcang.webp" }, alt: "Strategy, Design and Development image" %>
    </div>
    <div class="right-side">
      <h2 id="home-step">SERVICES</h2>
      <h1 id="home-title">Strategy, Design & Development</h1>
      <p id="home-description">
        MangoLab turns your business idea into a launched product by guiding your journey through a personalized and custom software development to meet your goals.
        We strategize, design and build platforms and digital experiences that connect to the heart of your organization to scale onto the next level.
        Whether you require an E-Commerce, SaaS platform or a Web/Native Application to engage with your audience — we’ve got you covered.
      </p>
      <%= link_to services_path, class: "what-we-do-btn-js-change what-we-do-btn" do %>
        <span>
          WHAT WE DO 
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg" }, alt: "mango chevron" %>
        </span>
      <% end %>
    </div>
  </div>

</div>

<div class="process-container">
  <div class="home-container" id="process">
    <div class="left-side">
      <h2 id="home-step">PROCESS</h2>
      <h1 id="home-title">Set, Ready & Launch</h1>
      <p id="home-description">
        As any new project in life, planning is key. That’s why we’ve tailored our process to reduce risk during each step of the development and
        minimize the time wasted to focus primarly on accelerating the launch of your product. We get to know your vision, help craft your product,
        and bring it to market fast, keeping you appraised of every step along the way. Teamwork is everything.
      </p>
      <%= link_to process_index_path, class: "view-our-process-btn-js-change view-our-process-btn" do %>
        <span>
          VIEW OUR PROCESS 
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg" }, alt: "mango chevron" %>
        </span>
      <% end %>
    </div>
    <div class="right-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/HomePage_Process_dhzknq.webp", class: "lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/HomePage_Process_dhzknq.webp" }, alt: "Set, Ready and Launch image" %>
    </div>
  </div>
</div>

<div class="verticals-container">
  <div class="home-container" id="verticals">
    <div class="left-side">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/HomePage_Verticals_a7abq9.webp", class: "lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/HomePage_Verticals_a7abq9.webp" }, alt: "Our expertise image" %>
    </div>
    <div class="right-side" id="verticals-js-change">
      <h2 id="home-step">VERTICALS</h2>
      <h1 id="home-title">Our expertise</h1>
      <p id="home-description">
        A deep understanding of your industry is required to create successful products. What sets us apart is our ability to learn and understand the
        ecosystem in which you operate. Our team has developed products, services and organizations in a variety of industries, from healthcare and sports to nonprofit.
         Whether you are launching a networking app, a patient portal, or a SaaS platform, we will bring your product to market, fast.
      </p>
      <%= link_to verticals_path, class: "learn-more-btn-js-change learn-more-btn" do %>
        <span>
          LEARN MORE 
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg" }, alt: "mango chevron" %>
        </span>
      <% end %>
    </div>
  </div>  
</div>

<div class="mvp-container">
  <div id="next-mvp">
    <div class="mvp-icon">
      <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/HomePage_Alarm_sbzjjz.webp", class: "lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1604076284/MangoLab.io%20-%20Website/Home_Page/WebP/HomePage_Alarm_sbzjjz.webp" }, alt: "Next mvp image" %>
    </div>
    <div class="counter">
      <h1>Next MVP will be launched in:</h1>
      <h1 id="timer">
        <div id="d"></div> : <div id="h"></div> : <div id="m"></div> : <div id="s"></div>
      </h1>
      <div class="timer-text">
        <h2 id="day">Days</h2>
        <h2 id="hour">Hours</h2>
        <h2 id="minute">Minutes</h2>
        <h2 id="second">Seconds</h2>
      </div>
      <h3 class="counter-text">Want to talk about your project?</h3>
      <%= link_to "https://calendly.com/mangolab/freeconsultation", class: "lets-go-btn-js-change lets-go-btn-change", target: :_blank, rel: "noreferrer" do %>
        <span>
          LET'S GO 
          <%= image_tag "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg", class: "chevron-right lazyload", data: { src: "https://res.cloudinary.com/mangolab-io/image/upload/v1602614855/MangoLab.io%20-%20Website/Home_Page/Vector_pohnk9.svg" }, alt: "mango chevron" %>
        </span>
      <% end %>
    </div>
  </div>
</div>

<%
=begin %>

<div class="main-container">
  <div id="goals">
  </div>
</div>

<%
=end %>


