<!DOCTYPE html>
<html lang="en">
  <head>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5KF4J8F');
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179873545-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-179873545-1');
    </script>

    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2027853,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MangoLab.io | Software Development</title>

    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="author" content="MangoLab.io">
    <meta name="description" property="description" content="We build digital products for entrepreneurs and startups who want to revolutionize their industries.">
    <meta name="keywords" content="software development,free consultation,launch e-commerce,startups,ux/ui design,mvp development">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <link rel="canonical" href="https://www.mangolab.io">
    <meta name="og:title" property="og:title" content="MangoLab.io | Software Development">
    <meta name="og:description" property="og:description" content="We build digital products for entrepreneurs and startups who want to revolutionize their industries.">
    <meta property="og:image" content="https://res.cloudinary.com/mangolab-io/image/upload/v1602028500/MangoLab.io%20-%20Website/Home_Page/Social_Banner_xjlz2n.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="og:site_name" content="MangoLab.io">    
    <meta name="og:type" content="website">
    <meta name="og:url" property="og:url" content="http://www.mangolab.io">
    <meta property="og:locale" content="en_CA" />
     
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    
  </head>

  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KF4J8F"
         height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
